<!DOCTYPE html>
<html lang="fr">

    <head>
        <%- include('../public/templates/heads/head-index') %>
    </head>

<body id="index" class="hide-scrollbar">

    <%- include('../public/templates/header') %>
    <%- include('../public/templates/main-menu') %>

    <main class="main main-index">

        <section id="faq" class="main-section --section-1">
            <h1><%= h1 %></h1>
            <div class="--wrapper-1 highlight-hover">
                <h2 class="title-faq">Comment que je fais ?</h2>
                <%- include('../public/templates/faq/faq-index') %>
            </div>
        </section>
        
    </main>

    <%- include('../public/templates/footer') %>

</body>

</html>