<!-- TEMPLATE - footer -->

<footer class="footer">
    <section>
        <div class="container-description">
            <div class="row">
                <img class="img-xs" src="<%- data_site.logo %>"/>
                <h4><%- data_site.title %></h4>
            </div>
            <p><%- data_site.description %></p>
            <%- include('social-bar') %>
        </div>
    </section>
    <section>
        <div class="container-column">
            <% Object.keys(data_footer).forEach((key)=> { %>
                <div class="column">
                    <h5>
                        <%- key %>
                    </h5>
                    <ul>
                        <% for (let key1 in data_footer[key]) { %>
                            <li>
                                <a class="footer-link" title="<%= data_footer[key][key1].title %>"
                                    href="<%= data_footer[key][key1].href %>"
                                    target="<%= data_footer[key][key1].target %>">
                                    <%- data_footer[key][key1].text %>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            <% }) %>
        </div>
        <div class="container-select">
            <% Object.keys(data_footer).forEach((key)=> { %>
                <div class="row">
                    <div class="select">
                        <select onchange="window.location.replace(this.value)">
                            <option disabled selected><%- key %></option>
                            <% for (let key1 in data_footer[key]) { %>
                                <option value="<%= data_footer[key][key1].href %>" data-target="<%= data_footer[key][key1].target %>">
                                    <%- data_footer[key][key1].text %>
                                </option>
                                <% } %>
                        </select>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>
</footer>