<!-- TEMPLATE - header -->

<header class="header">
    <section>
        <ul>
            <li>
                <button id="btn-main-menu" class="btn btn-icon" title="Menu principal">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </li>
            <li>
                <a href="/">
                    <img class="img-m" src="<%- data_site.logo_text %>" />
                </a>
            </li>
        </ul>
    </section>
    <section>
        <ul>
            <% data_header.forEach((elem)=> { %>
                <li>
                    <div>
                        <a class="link" title="<%= elem.title %>" href="<%= elem.href %>"
                            target="<%= elem.target %>">
                            <%- elem.text %>
                        </a>
                    </div>
                </li>
            <% }) %>
        </ul>
    </section>
    <section>
        <button id="search" class="btn btn-icon" title="Rechercher">
            <i class='fa-solid fa-magnifying-glass'></i>
        </button>
    </section>
</header>