<!-- TEMPLATE - main-menu -->

<div class="main-menu global">
    <div class="main-menu-wrapper">
        <div class="main-menu-row row-1">
            <button id="btn-close-main-menu" class="btn btn-icon" title="Fermer">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <a href="/">
                <img src="<%- data_site.logo_icon %>" />
            </a>
            <button id="sun" class="btn btn-icon" title="Thème Light">
                <i class="fa-solid fa-sun"></i>
            </button>
            <button id="moon" class="btn btn-icon" title="Thème Dark">
                <i class="fa-solid fa-moon"></i>
            </button>
        </div>
        <div class="main-menu-row row-2">
            <%- include('search-bar') %>
        </div>
        <div class="main-menu-row row-3 slim-scrollbar">
            <ul>
                <% data_mainMenu.links.forEach((elem)=> { %>
                    <li>
                        <div>
                            <%-elem.icon%>
                            <a class="link" title="<%=elem.title%>" href="<%=elem.href%>"
                                target="<%=elem.target%>">
                                <%-elem.text%>
                            </a>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
        <div class="main-menu-row row-4">
            <button id="btn-user-account" class="btn btn-icon" title="Mon compte">
                <i class="fa-solid fa-circle-user"></i>
            </button>
            <button id="btn-user-settings" class="btn btn-icon" title="Paramètres">
                <i class="fa-solid fa-gear"></i>
            </button>
        </div>
    </div>
    <div class="main-menu-outside"></div>
</div>