<!-- TEMPLATE - header -->

<header class="header">
    <section>
        <button id="btn-main-menu" class="btn btn-icon" title="Menu principal">
            <i class="fa-solid fa-bars"></i>
        </button>
    </section>
    <section>
        <ul>
            <li>
                <div>
                    <a title="Accueil" href="/" target="" style="position: absolute; top: -21px;">
                        <img src="<%- data_site.logo_icon %>" alt="logo du site" />
                    </a>
                </div>
            </li>
            <% data_header.links.forEach((elem)=> { %>
                <li>
                    <div>
                        <a class="header-link" title="<%= elem.title %>" href="<%= elem.href %>" target="<%= elem.target %>">
                            <%- elem.text %>
                        </a>
                    </div>
                </li>
            <% }) %>
            <li>
                <div>
                    <a id="search" title="Rechercher">
                        <i class='fa-solid fa-magnifying-glass'></i>
                    </a>
                </div>
            </li>
        </ul>
    </section>
    <section>
        <% if(userName != "") { %>
            <button id="btn-user-authenticated" class="btn btn-user-initial" title="Profil de <%- userName %>">
                <%- userName.substring(0, 1) %>
            </button>
        <% } else { %>
            <button id="btn-login" class="btn btn-icon" title="Se connecter">
                <i class="fa-solid fa-circle-user"></i>
            </button>
        <% } %>
    </section>
</header>